# Imports

In [1]:
%autosave 60

Autosaving every 60 seconds

In [2]:
import numpy
import seaborn
import matplotlib.pyplot as plt
import pandas
import pickle
from pathlib import Path
from dataclasses import dataclass, field
from tqdm import tqdm
import transformers # conda install tensorflow
from transformers import pipeline, AutoTokenizer, AutoModelForTokenClassification
from IPython.display import display, HTML
from collections import deque
from multiprocessing import Pool
import os
from functools import partial
import pandas as pd
import numpy as np

/Users/stefano/opt/anaconda3/envs/s2ds/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Data ../cleaning/

It is necessary to define the class `Article` before loading the pickle file with the extracted sentences since the pickle file contains instances of this class.

In [3]:
@dataclass(frozen=True)
class Article:
    id: int
    language: str
    sentences: list[str] = field(repr=False)
    original_text: str = field(repr=False)
    number_of_sentences: int = field(init=False)
    persons: tuple[list] = field(init=False, repr=False)
    
    def __post_init__(self):
        object.__setattr__(self, 'number_of_sentences', len(self.sentences))
        object.__setattr__(self, 'persons', tuple([] for i in range(self.number_of_sentences))) # one list per sentence
    
    def render_html(self):
        """Print attribute `original_text` rendered in HTML"""
        display(HTML(self.original_text))

Read pickled file that stores the sentences of the articles

In [4]:
inputdir = Path('data')
file = 'portuguese_sentences.pickle'
with open(inputdir/file, 'rb') as file:
    articles = pickle.load(file)

Show info for the first 10 articles

In [5]:
articles[:10]

[Article(id=54006424, language='PORTUGUESE_BRAZIL', number_of_sentences=41),
 Article(id=54003004, language='PORTUGUESE_BRAZIL', number_of_sentences=34),
 Article(id=54009380, language='PORTUGUESE_BRAZIL', number_of_sentences=14),
 Article(id=54008153, language='PORTUGUESE_BRAZIL', number_of_sentences=22),
 Article(id=54009331, language='PORTUGUESE_BRAZIL', number_of_sentences=20),
 Article(id=54010979, language='PORTUGUESE_BRAZIL', number_of_sentences=32),
 Article(id=54011278, language='PORTUGUESE_BRAZIL', number_of_sentences=19),
 Article(id=54012392, language='PORTUGUESE_BRAZIL', number_of_sentences=161),
 Article(id=54015488, language='PORTUGUESE_BRAZIL', number_of_sentences=13),
 Article(id=54015413, language='PORTUGUESE_BRAZIL', number_of_sentences=19)]

# Named Entity Recognition (NER)

Select a model from the Hugging Face hub and load it along with its tokenizer and a token-classification head (NER).

In [6]:
checkpoint = "Davlan/bert-base-multilingual-cased-ner-hrl"
tokenizer = AutoTokenizer.from_pretrained(checkpoint)
model = AutoModelForTokenClassification.from_pretrained(checkpoint)

Use the pipeline for NER and group similar entities (e.g.: name and last name).

In [7]:
nlp = pipeline("ner", model=model, tokenizer=tokenizer, aggregation_strategy="simple")

Read the docs

In [8]:
nlp?

Signature:      nlp(inputs: Union[str, List[str]], **kwargs)
Type:           TokenClassificationPipeline
String form:    <transformers.pipelines.token_classification.TokenClassificationPipeline object at 0x7fbf4b87ee90>
File:           ~/opt/anaconda3/envs/s2ds/lib/python3.10/site-packages/transformers/pipelines/token_classification.py
Docstring:
Named Entity Recognition pipeline using any `ModelForTokenClassification`. See the [named entity recognition
examples](../task_summary#named-entity-recognition) for more information.

This token recognition pipeline can currently be loaded from [`pipeline`] using the following task identifier:
`"ner"` (for predicting the classes of tokens in a sequence: person, organisation, location or miscellaneous).

The models that this pipeline can use are models that have been fine-tuned on a token classification task. See the
up-to-date list of available models on
[huggingface.co/models](https://huggingface.co/models?filter=token-classification).

Arguments:
    model ([`PreTrainedModel`] or [`TFPreTrainedModel`]):
        The model that will be used by the pipeline to make predictions. This needs to be a model inheriting from
        [`PreTrainedModel`] for PyTorch and [`TFPreTrainedModel`] for TensorFlow.
    tokenizer ([`PreTrainedTokenizer`]):
        The tokenizer that will be used by the pipeline to encode data for the model. This object inherits from
        [`PreTrainedTokenizer`].
    modelcard (`str` or [`ModelCard`], *optional*):
        Model card attributed to the model for this pipeline.
    framework (`str`, *optional*):
        The framework to use, either `"pt"` for PyTorch or `"tf"` for TensorFlow. The specified framework must be
        installed.

        If no framework is specified, will default to the one currently installed. If no framework is specified and
        both frameworks are installed, will default to the framework of the `model`, or to PyTorch if no model is
        provided.
    task (`str`, defaults to `""`):
        A task-identifier for the pipeline.
    num_workers (`int`, *optional*, defaults to 8):
        When the pipeline will use *DataLoader* (when passing a dataset, on GPU for a Pytorch model), the number of
        workers to be used.
    batch_size (`int`, *optional*, defaults to 1):
        When the pipeline will use *DataLoader* (when passing a dataset, on GPU for a Pytorch model), the size of
        the batch to use, for inference this is not always beneficial, please read [Batching with
        pipelines](https://huggingface.co/transformers/main_classes/pipelines.html#pipeline-batching) .
    args_parser ([`~pipelines.ArgumentHandler`], *optional*):
        Reference to the object in charge of parsing supplied pipeline parameters.
    device (`int`, *optional*, defaults to -1):
        Device ordinal for CPU/GPU supports. Setting this to -1 will leverage CPU, a positive will run the model on
        the associated CUDA device id. You can pass native `torch.device` or a `str` too.
    binary_output (`bool`, *optional*, defaults to `False`):
        Flag indicating if the output the pipeline should happen in a binary format (i.e., pickle) or as raw text.

    ignore_labels (`List[str]`, defaults to `["O"]`):
        A list of labels to ignore.
    grouped_entities (`bool`, *optional*, defaults to `False`):
        DEPRECATED, use `aggregation_strategy` instead. Whether or not to group the tokens corresponding to the
        same entity together in the predictions or not.
    aggregation_strategy (`str`, *optional*, defaults to `"none"`):
        The strategy to fuse (or not) tokens based on the model prediction.

            - "none" : Will simply not do any aggregation and simply return raw results from the model
            - "simple" : Will attempt to group entities following the default schema. (A, B-TAG), (B, I-TAG), (C,
              I-TAG), (D, B-TAG2) (E, B-TAG2) will end up being [{"word": ABC, "entity": "TAG"}, {"word": "D",
              "entity": "TAG2"}, {"word": "E", "entity": "TAG2"}] Notice that two consecutive B tags will end up as
              different entities. On word based languages, we might end up splitting words undesirably : Imagine
              Microsoft being tagged as [{"word": "Micro", "entity": "ENTERPRISE"}, {"word": "soft", "entity":
              "NAME"}]. Look for FIRST, MAX, AVERAGE for ways to mitigate that and disambiguate words (on languages
              that support that meaning, which is basically tokens separated by a space). These mitigations will
              only work on real words, "New york" might still be tagged with two different entities.
            - "first" : (works only on word based models) Will use the `SIMPLE` strategy except that words, cannot
              end up with different tags. Words will simply use the tag of the first token of the word when there
              is ambiguity.
            - "average" : (works only on word based models) Will use the `SIMPLE` strategy except that words,
              cannot end up with different tags. scores will be averaged first across tokens, and then the maximum
              label is applied.
            - "max" : (works only on word based models) Will use the `SIMPLE` strategy except that words, cannot
              end up with different tags. Word entity will simply be the token with the maximum score.
Call docstring:
Classify each token of the text(s) given as inputs.

Args:
    inputs (`str` or `List[str]`):
        One or several texts (or one list of texts) for token classification.

Return:
    A list or a list of list of `dict`: Each result comes as a list of dictionaries (one for each token in the
    corresponding input, or each entity if this pipeline was instantiated with an aggregation_strategy) with
    the following keys:

    - **word** (`str`) -- The token/word classified. This is obtained by decoding the selected tokens. If you
      want to have the exact string in the original sentence, use `start` and `end`.
    - **score** (`float`) -- The corresponding probability for `entity`.
    - **entity** (`str`) -- The entity predicted for that token/word (it is named *entity_group* when
      *aggregation_strategy* is not `"none"`.
    - **index** (`int`, only present when `aggregation_strategy="none"`) -- The index of the corresponding
      token in the sentence.
    - **start** (`int`, *optional*) -- The index of the start of the corresponding entity in the sentence. Only
      exists if the offsets are available within the tokenizer
    - **end** (`int`, *optional*) -- The index of the end of the corresponding entity in the sentence. Only
      exists if the offsets are available within the tokenizer

In [12]:
pipeline?

Signature:
pipeline(
    task: str = None,
    model: Optional = None,
    config: Union[str, transformers.configuration_utils.PretrainedConfig, NoneType] = None,
    tokenizer: Union[str, transformers.tokenization_utils.PreTrainedTokenizer, transformers.tokenization_utils_fast.PreTrainedTokenizerFast, NoneType] = None,
    feature_extractor: Union[str, ForwardRef('SequenceFeatureExtractor'), NoneType] = None,
    framework: Optional[str] = None,
    revision: Optional[str] = None,
    use_fast: bool = True,
    use_auth_token: Union[bool, str, NoneType] = None,
    device: Union[int, str, ForwardRef('torch.device'), NoneType] = None,
    device_map=None,
    torch_dtype=None,
    trust_remote_code: Optional[bool] = None,
    model_kwargs: Dict[str, Any] = None,
    pipeline_class: Optional[Any] = None,
    **kwargs,
) -> transformers.pipelines.base.Pipeline
Docstring:
Utility factory method to build a [`Pipeline`].

Pipelines are made of:

    - A [tokenizer](tokenizer) in charge of mapping raw textual input to token.
    - A [model](model) to make predictions from the inputs.
    - Some (optional) post processing for enhancing model's output.

Args:
    task (`str`):
        The task defining which pipeline will be returned. Currently accepted tasks are:

        - `"audio-classification"`: will return a [`AudioClassificationPipeline`].
        - `"automatic-speech-recognition"`: will return a [`AutomaticSpeechRecognitionPipeline`].
        - `"conversational"`: will return a [`ConversationalPipeline`].
        - `"feature-extraction"`: will return a [`FeatureExtractionPipeline`].
        - `"fill-mask"`: will return a [`FillMaskPipeline`]:.
        - `"image-classification"`: will return a [`ImageClassificationPipeline`].
        - `"question-answering"`: will return a [`QuestionAnsweringPipeline`].
        - `"table-question-answering"`: will return a [`TableQuestionAnsweringPipeline`].
        - `"text2text-generation"`: will return a [`Text2TextGenerationPipeline`].
        - `"text-classification"` (alias `"sentiment-analysis"` available): will return a
          [`TextClassificationPipeline`].
        - `"text-generation"`: will return a [`TextGenerationPipeline`]:.
        - `"token-classification"` (alias `"ner"` available): will return a [`TokenClassificationPipeline`].
        - `"translation"`: will return a [`TranslationPipeline`].
        - `"translation_xx_to_yy"`: will return a [`TranslationPipeline`].
        - `"summarization"`: will return a [`SummarizationPipeline`].
        - `"zero-shot-classification"`: will return a [`ZeroShotClassificationPipeline`].

    model (`str` or [`PreTrainedModel`] or [`TFPreTrainedModel`], *optional*):
        The model that will be used by the pipeline to make predictions. This can be a model identifier or an
        actual instance of a pretrained model inheriting from [`PreTrainedModel`] (for PyTorch) or
        [`TFPreTrainedModel`] (for TensorFlow).

        If not provided, the default for the `task` will be loaded.
    config (`str` or [`PretrainedConfig`], *optional*):
        The configuration that will be used by the pipeline to instantiate the model. This can be a model
        identifier or an actual pretrained model configuration inheriting from [`PretrainedConfig`].

        If not provided, the default configuration file for the requested model will be used. That means that if
        `model` is given, its default configuration will be used. However, if `model` is not supplied, this
        `task`'s default model's config is used instead.
    tokenizer (`str` or [`PreTrainedTokenizer`], *optional*):
        The tokenizer that will be used by the pipeline to encode data for the model. This can be a model
        identifier or an actual pretrained tokenizer inheriting from [`PreTrainedTokenizer`].

        If not provided, the default tokenizer for the given `model` will be loaded (if it is a string). If `model`
        is not specified or not a string, then the default tokenizer for `config` is loaded (if it is a string).
        However, if `config` is also not given or not a string, then the default tokenizer for the given `task`
        will be loaded.
    feature_extractor (`str` or [`PreTrainedFeatureExtractor`], *optional*):
        The feature extractor that will be used by the pipeline to encode data for the model. This can be a model
        identifier or an actual pretrained feature extractor inheriting from [`PreTrainedFeatureExtractor`].

        Feature extractors are used for non-NLP models, such as Speech or Vision models as well as multi-modal
        models. Multi-modal models will also require a tokenizer to be passed.

        If not provided, the default feature extractor for the given `model` will be loaded (if it is a string). If
        `model` is not specified or not a string, then the default feature extractor for `config` is loaded (if it
        is a string). However, if `config` is also not given or not a string, then the default feature extractor
        for the given `task` will be loaded.
    framework (`str`, *optional*):
        The framework to use, either `"pt"` for PyTorch or `"tf"` for TensorFlow. The specified framework must be
        installed.

        If no framework is specified, will default to the one currently installed. If no framework is specified and
        both frameworks are installed, will default to the framework of the `model`, or to PyTorch if no model is
        provided.
    revision (`str`, *optional*, defaults to `"main"`):
        When passing a task name or a string model identifier: The specific model version to use. It can be a
        branch name, a tag name, or a commit id, since we use a git-based system for storing models and other
        artifacts on huggingface.co, so `revision` can be any identifier allowed by git.
    use_fast (`bool`, *optional*, defaults to `True`):
        Whether or not to use a Fast tokenizer if possible (a [`PreTrainedTokenizerFast`]).
    use_auth_token (`str` or *bool*, *optional*):
        The token to use as HTTP bearer authorization for remote files. If `True`, will use the token generated
        when running `huggingface-cli login` (stored in `~/.huggingface`).
    device (`int` or `str` or `torch.device`):
        Defines the device (*e.g.*, `"cpu"`, `"cuda:1"`, `"mps"`, or a GPU ordinal rank like `1`) on which this
        pipeline will be allocated.
    device_map (`str` or `Dict[str, Union[int, str, torch.device]`, *optional*):
        Sent directly as `model_kwargs` (just a simpler shortcut). When `accelerate` library is present, set
        `device_map="auto"` to compute the most optimized `device_map` automatically. [More
        information](https://huggingface.co/docs/accelerate/main/en/big_modeling#accelerate.cpu_offload)

        <Tip warning={true}>

        Do not use `device_map` AND `device` at the same time as they will conflict

        </Tip>

    torch_dtype (`str` or `torch.dtype`, *optional*):
        Sent directly as `model_kwargs` (just a simpler shortcut) to use the available precision for this model
        (`torch.float16`, `torch.bfloat16`, ... or `"auto"`).
    trust_remote_code (`bool`, *optional*, defaults to `False`):
        Whether or not to allow for custom code defined on the Hub in their own modeling, configuration,
        tokenization or even pipeline files. This option should only be set to `True` for repositories you trust
        and in which you have read the code, as it will execute code present on the Hub on your local machine.
    model_kwargs:
        Additional dictionary of keyword arguments passed along to the model's `from_pretrained(...,
        **model_kwargs)` function.
    kwargs:
        Additional keyword arguments passed along to the specific pipeline init (see the documentation for the
        corresponding pipeline class for possible values).

Returns:
    [`Pipeline`]: A suitable pipeline for the task.

Examples:

```python
>>> from transformers import pipeline, AutoModelForTokenClassification, AutoTokenizer

>>> # Sentiment analysis pipeline
>>> pipeline("sentiment-analysis")

>>> # Question answering pipeline, specifying the checkpoint identifier
>>> pipeline("question-answering", model="distilbert-base-cased-distilled-squad", tokenizer="bert-base-cased")

>>> # Named entity recognition pipeline, passing in a specific model and tokenizer
>>> model = AutoModelForTokenClassification.from_pretrained("dbmdz/bert-large-cased-finetuned-conll03-english")
>>> tokenizer = AutoTokenizer.from_pretrained("bert-base-cased")
>>> pipeline("ner", model=model, tokenizer=tokenizer)
```
File:      ~/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/__init__.py
Type:      function

## Test

Try the NER on one sentence

In [9]:
text = articles[0].sentences[0]
text

'O presidente do FC Schalke 04 e proprietário de um frigorífico no centro de um novo surto de coronavírus na Alemanha, Clemens Tönnies, renunciou nesta terça-feira (30/06) ao cargo que ocupava há 19 anos no tradicional clube de futebol alemão após se envolver em uma série de controvérsias, ainda que em questões bastante diferentes.'

In [10]:
nlp(text)

[{'entity_group': 'ORG',
  'score': 0.9998289,
  'word': 'FC Schalke 04',
  'start': 16,
  'end': 29},
 {'entity_group': 'LOC',
  'score': 0.99983025,
  'word': 'Alemanha',
  'start': 111,
  'end': 119},
 {'entity_group': 'PER',
  'score': 0.99981546,
  'word': 'Clemens Tönnies',
  'start': 121,
  'end': 137}]

Extract only the names from the NER output

In [11]:
[group['word'] for group in nlp(text) if group['entity_group']=='PER']

['Clemens Tönnies']

## Check the first 10 articles

(You may want to interrup the code in the next cell since it takes time to run)

In [26]:
for i1,article in enumerate(articles[:10]):
    for i2,sentence in enumerate(article.sentences):
        names = [group['word'] for group in nlp(sentence) if group['entity_group']=='PER' and group['score']>0.8]
        if '#' in ''.join(names):
            names = [] # Keep no names if NER includes the # character
        # if len(names)>0:
        #     print(f'article={i1}, sentence={i2}, {names=}')
        print(f'article={i1}, sentence={i2}, {names=}')

article=0, sentence=0, names=['Clemens Tönnies']
article=0, sentence=1, names=[]
article=0, sentence=2, names=[]
article=0, sentence=3, names=[]
article=0, sentence=4, names=[]
article=0, sentence=5, names=[]
article=0, sentence=6, names=['Gerald Asamoah', 'Hans Sarpei', 'Cacau']
article=0, sentence=7, names=[]
article=0, sentence=8, names=[]
article=0, sentence=9, names=[]
article=0, sentence=10, names=[]
article=0, sentence=11, names=[]
article=0, sentence=12, names=[]
article=0, sentence=13, names=[]
article=0, sentence=14, names=[]
article=0, sentence=15, names=[]
article=0, sentence=16, names=[]
article=0, sentence=17, names=[]
article=0, sentence=18, names=[]
article=0, sentence=19, names=[]
article=0, sentence=20, names=[]
article=0, sentence=21, names=[]
article=0, sentence=22, names=[]
article=0, sentence=23, names=[]
article=0, sentence=24, names=[]
article=0, sentence=25, names=[]
article=0, sentence=26, names=[]
article=0, sentence=27, names=[]
article=0, sentence=28, names=[]
article=0, sentence=29, names=[]
article=0, sentence=30, names=[]
article=0, sentence=31, names=[]
article=0, sentence=32, names=[]
article=0, sentence=33, names=[]
article=0, sentence=34, names=[]
article=0, sentence=35, names=[]
article=0, sentence=36, names=[]
article=0, sentence=37, names=[]
article=0, sentence=38, names=[]
article=0, sentence=39, names=['Clemens Tönnies']
article=0, sentence=40, names=[]
article=1, sentence=0, names=['Angela Merkel']
article=1, sentence=1, names=[]
article=1, sentence=2, names=[]
article=1, sentence=3, names=[]
article=1, sentence=4, names=[]
article=1, sentence=5, names=[]
article=1, sentence=6, names=[]
article=1, sentence=7, names=[]
article=1, sentence=8, names=['Emmanuel Macron', 'Merkel']
article=1, sentence=9, names=[]
article=1, sentence=10, names=[]
article=1, sentence=11, names=['Olaf Scholz', 'Alexander Hamilton']
article=1, sentence=12, names=[]
article=1, sentence=13, names=[]
article=1, sentence=14, names=['Hamilton']
article=1, sentence=15, names=['Alexander Hamilton']
article=1, sentence=16, names=[]
article=1, sentence=17, names=[]
article=1, sentence=18, names=[]
article=1, sentence=19, names=[]
article=1, sentence=20, names=['Hamilton']
article=1, sentence=21, names=[]
article=1, sentence=22, names=[]
article=1, sentence=23, names=[]
article=1, sentence=24, names=['Christine Lagarde']
article=1, sentence=25, names=[]
article=1, sentence=26, names=['Merkel']
article=1, sentence=27, names=['Merkel']
article=1, sentence=28, names=['Ursula von der Leyen']
article=1, sentence=29, names=[]
article=1, sentence=30, names=['Merkel']
article=1, sentence=31, names=['Robert Schuman', 'Merkel']
article=1, sentence=32, names=['Schuman']
article=1, sentence=33, names=[]
article=2, sentence=0, names=[]
article=2, sentence=1, names=[]
article=2, sentence=2, names=[]
article=2, sentence=3, names=['Lícia D ́Ávila']
article=2, sentence=4, names=[]
article=2, sentence=5, names=[]
article=2, sentence=6, names=[]
article=2, sentence=7, names=[]
article=2, sentence=8, names=['James Webb']
article=2, sentence=9, names=[]
article=2, sentence=10, names=[]
article=2, sentence=11, names=[]
article=2, sentence=12, names=[]
article=2, sentence=13, names=[]
article=3, sentence=0, names=[]
article=3, sentence=1, names=[]
article=3, sentence=2, names=[]
article=3, sentence=3, names=[]
article=3, sentence=4, names=[]
article=3, sentence=5, names=['Xi Jinping']
article=3, sentence=6, names=[]
article=3, sentence=7, names=[]
article=3, sentence=8, names=[]
article=3, sentence=9, names=[]
article=3, sentence=10, names=[]
article=3, sentence=11, names=[]
article=3, sentence=12, names=[]
article=3, sentence=13, names=[]
article=3, sentence=14, names=['Zhang Xiaoming']
article=3, sentence=15, names=[]
article=3, sentence=16, names=['Carrie Lam']
article=3, sentence=17, names=[]
article=3, sentence=18, names=[]
article=3, sentence=19, names=['Mike Pompeo']
article=3, sentence=20, names=[]
article=3, sentence=21, names=[]
article=4, sentence=0, names=['Donald Trump']
article=4, sentence=1, names=['Mark Esper', 'Mark Milley', 'Jonathan Hoffman']
article=4, sentence=2, names=[]
article=4, sentence=3, names=[]
article=4, sentence=4, names=['Trump']
article=4, sentence=5, names=[]
article=4, sentence=6, names=[]
article=4, sentence=7, names=[]
article=4, sentence=8, names=[]
article=4, sentence=9, names=[]
article=4, sentence=10, names=[]
article=4, sentence=11, names=[]
article=4, sentence=12, names=[]
article=4, sentence=13, names=[]
article=4, sentence=14, names=[]
article=4, sentence=15, names=['Heiko Maas']
article=4, sentence=16, names=[]
article=4, sentence=17, names=['Peter Bayer', 'Angela Merkel']
article=4, sentence=18, names=['Johann Wadephul', 'Merkel']
article=4, sentence=19, names=[]
article=5, sentence=0, names=[]
article=5, sentence=1, names=[]
article=5, sentence=2, names=[]
article=5, sentence=3, names=[]
article=5, sentence=4, names=[]
article=5, sentence=5, names=[]
article=5, sentence=6, names=[]
article=5, sentence=7, names=[]
article=5, sentence=8, names=['Joseph Nye']
article=5, sentence=9, names=[]
article=5, sentence=10, names=[]
article=5, sentence=11, names=[]
article=5, sentence=12, names=[]
article=5, sentence=13, names=['Parag Khanna']
article=5, sentence=14, names=[]
article=5, sentence=15, names=[]
article=5, sentence=16, names=[]
article=5, sentence=17, names=['Rubens Ricupero']
article=5, sentence=18, names=[]
article=5, sentence=19, names=['Lula', 'Dilma']
article=5, sentence=20, names=['Jair Bolsonaro']
article=5, sentence=21, names=[]
article=5, sentence=22, names=[]
article=5, sentence=23, names=[]
article=5, sentence=24, names=[]
article=5, sentence=25, names=[]
article=5, sentence=26, names=[]
article=5, sentence=27, names=[]
article=5, sentence=28, names=['Alexander Busch']
article=5, sentence=29, names=[]
article=5, sentence=30, names=['Busch']
article=5, sentence=31, names=[]
article=6, sentence=0, names=['Gerd Müller']
article=6, sentence=1, names=[]
article=6, sentence=2, names=[]
article=6, sentence=3, names=[]
article=6, sentence=4, names=[]
article=6, sentence=5, names=[]
article=6, sentence=6, names=[]
article=6, sentence=7, names=[]
article=6, sentence=8, names=[]
article=6, sentence=9, names=[]
article=6, sentence=10, names=[]
article=6, sentence=11, names=[]
article=6, sentence=12, names=['Gonzalo Vargas Llosa']
article=6, sentence=13, names=[]
article=6, sentence=14, names=[]
article=6, sentence=15, names=[]
article=6, sentence=16, names=['Horst Seehofer']
article=6, sentence=17, names=['Seehofer']
article=6, sentence=18, names=[]
article=7, sentence=0, names=['Ciro Gomes']
article=7, sentence=1, names=[]
article=7, sentence=2, names=['Jair Bolsonaro']
article=7, sentence=3, names=[]
article=7, sentence=4, names=['Bolsonaro']
article=7, sentence=5, names=[]
article=7, sentence=6, names=[]
article=7, sentence=7, names=['Leonel Brizola', 'Ciro']
article=7, sentence=8, names=['Ciro', 'Paulo Guedes']
article=7, sentence=9, names=[]
article=7, sentence=10, names=[]
article=7, sentence=11, names=[]
article=7, sentence=12, names=[]
article=7, sentence=13, names=[]
article=7, sentence=14, names=['Dilma Rousseff', 'Ciro']
article=7, sentence=15, names=['Dilma']
article=7, sentence=16, names=[]
article=7, sentence=17, names=[]
article=7, sentence=18, names=[]
article=7, sentence=19, names=[]
article=7, sentence=20, names=[]
article=7, sentence=21, names=[]
article=7, sentence=22, names=[]
article=7, sentence=23, names=[]
article=7, sentence=24, names=['Bolsonaro']
article=7, sentence=25, names=[]
article=7, sentence=26, names=[]
article=7, sentence=27, names=[]
article=7, sentence=28, names=[]
article=7, sentence=29, names=[]
article=7, sentence=30, names=[]
article=7, sentence=31, names=['Bolsonaro']
article=7, sentence=32, names=[]
article=7, sentence=33, names=[]
article=7, sentence=34, names=['Bolsonaro']
article=7, sentence=35, names=[]
article=7, sentence=36, names=[]
article=7, sentence=37, names=[]
article=7, sentence=38, names=[]
article=7, sentence=39, names=[]
article=7, sentence=40, names=['Bolsonaro']
article=7, sentence=41, names=[]
article=7, sentence=42, names=[]
article=7, sentence=43, names=[]
article=7, sentence=44, names=['Fernando Henrique Cardoso']
article=7, sentence=45, names=[]
article=7, sentence=46, names=[]
article=7, sentence=47, names=[]
article=7, sentence=48, names=[]
article=7, sentence=49, names=[]
article=7, sentence=50, names=[]
article=7, sentence=51, names=['Dilma']
article=7, sentence=52, names=['Fernando Henrique']
article=7, sentence=53, names=[]
article=7, sentence=54, names=[]
article=7, sentence=55, names=[]
article=7, sentence=56, names=[]
article=7, sentence=57, names=[]
article=7, sentence=58, names=[]
article=7, sentence=59, names=[]
article=7, sentence=60, names=[]
article=7, sentence=61, names=[]
article=7, sentence=62, names=[]
article=7, sentence=63, names=[]
article=7, sentence=64, names=['Jair Messias Bolsonaro']
article=7, sentence=65, names=['Lula']
article=7, sentence=66, names=['Fernando Haddad']
article=7, sentence=67, names=['Bolsonaro']
article=7, sentence=68, names=[]
article=7, sentence=69, names=[]
article=7, sentence=70, names=[]
article=7, sentence=71, names=[]
article=7, sentence=72, names=['Dilma']
article=7, sentence=73, names=[]
article=7, sentence=74, names=['Bolsonaro']
article=7, sentence=75, names=['Lula', 'Bolsonaro']
article=7, sentence=76, names=[]
article=7, sentence=77, names=[]
article=7, sentence=78, names=['Bolsonaro']
article=7, sentence=79, names=[]
article=7, sentence=80, names=['Lula']
article=7, sentence=81, names=[]
article=7, sentence=82, names=[]
article=7, sentence=83, names=[]
article=7, sentence=84, names=[]
article=7, sentence=85, names=[]
article=7, sentence=86, names=[]
article=7, sentence=87, names=[]
article=7, sentence=88, names=[]
article=7, sentence=89, names=[]
article=7, sentence=90, names=[]
article=7, sentence=91, names=[]
article=7, sentence=92, names=[]
article=7, sentence=93, names=[]
article=7, sentence=94, names=[]
article=7, sentence=95, names=[]
article=7, sentence=96, names=[]
article=7, sentence=97, names=[]
article=7, sentence=98, names=[]
article=7, sentence=99, names=[]
article=7, sentence=100, names=[]
article=7, sentence=101, names=[]
article=7, sentence=102, names=[]
article=7, sentence=103, names=[]
article=7, sentence=104, names=[]
article=7, sentence=105, names=[]
article=7, sentence=106, names=[]
article=7, sentence=107, names=[]
article=7, sentence=108, names=[]
article=7, sentence=109, names=[]
article=7, sentence=110, names=[]
article=7, sentence=111, names=[]
article=7, sentence=112, names=[]
article=7, sentence=113, names=[]
article=7, sentence=114, names=[]
article=7, sentence=115, names=[]
article=7, sentence=116, names=[]
article=7, sentence=117, names=[]
article=7, sentence=118, names=[]
article=7, sentence=119, names=[]
article=7, sentence=120, names=[]
article=7, sentence=121, names=['Dilma']
article=7, sentence=122, names=[]
article=7, sentence=123, names=[]
article=7, sentence=124, names=[]
article=7, sentence=125, names=[]
article=7, sentence=126, names=[]
article=7, sentence=127, names=[]
article=7, sentence=128, names=[]
article=7, sentence=129, names=[]
article=7, sentence=130, names=[]
article=7, sentence=131, names=[]
article=7, sentence=132, names=[]
article=7, sentence=133, names=[]
article=7, sentence=134, names=[]
article=7, sentence=135, names=['Dilma']
article=7, sentence=136, names=[]
article=7, sentence=137, names=[]
article=7, sentence=138, names=[]
article=7, sentence=139, names=['Cid Gomes']
article=7, sentence=140, names=[]
article=7, sentence=141, names=[]
article=7, sentence=142, names=[]
article=7, sentence=143, names=[]
article=7, sentence=144, names=[]
article=7, sentence=145, names=[]
article=7, sentence=146, names=[]
article=7, sentence=147, names=[]
article=7, sentence=148, names=[]
article=7, sentence=149, names=[]
article=7, sentence=150, names=['Fernando Henrique', 'Lula', 'Dilma']
article=7, sentence=151, names=[]
article=7, sentence=152, names=['Mauro Benevides Filho', 'Nelson Marconi']
article=7, sentence=153, names=[]
article=7, sentence=154, names=[]
article=7, sentence=155, names=[]
article=7, sentence=156, names=['Lula']
article=7, sentence=157, names=[]
article=7, sentence=158, names=[]
article=7, sentence=159, names=['Sarney', 'Collor', 'Dilma']
article=7, sentence=160, names=[]
article=8, sentence=0, names=[]
article=8, sentence=1, names=[]
article=8, sentence=2, names=[]
article=8, sentence=3, names=[]
article=8, sentence=4, names=[]
article=8, sentence=5, names=[]
article=8, sentence=6, names=[]
article=8, sentence=7, names=[]
article=8, sentence=8, names=[]
article=8, sentence=9, names=[]
article=8, sentence=10, names=[]
article=8, sentence=11, names=[]
article=8, sentence=12, names=[]
article=9, sentence=0, names=[]
article=9, sentence=1, names=[]
article=9, sentence=2, names=[]
article=9, sentence=3, names=[]
article=9, sentence=4, names=[]
article=9, sentence=5, names=[]
article=9, sentence=6, names=['Stefan Frey']
article=9, sentence=7, names=[]
article=9, sentence=8, names=['Frey']
article=9, sentence=9, names=[]
article=9, sentence=10, names=[]
article=9, sentence=11, names=[]
article=9, sentence=12, names=[]
article=9, sentence=13, names=[]
article=9, sentence=14, names=[]
article=9, sentence=15, names=[]
article=9, sentence=16, names=[]
article=9, sentence=17, names=[]
article=9, sentence=18, names=[]

## Collect names in the dataclass

Let us try with only 2 articles

In [28]:
for i1,article in enumerate(articles[:2]):
    for i2,(sentence,persons_list) in enumerate(zip(article.sentences,article.persons)):
        persons_list.clear() # Enure we start with an empty list
        print(persons_list)
        names = [group['word'] for group in nlp(sentence) if group['entity_group']=='PER' and group['score']>0.8]
        if '#' in ''.join(names):
            names = [] # Keep no names if NER includes the # character
        persons_list.extend(names)
        print(f'article={i1}, sentence={i2}, {names=}, {persons_list=}')

[]
article=0, sentence=0, names=['Clemens Tönnies'], persons_list=['Clemens Tönnies']
[]
article=0, sentence=1, names=[], persons_list=[]
[]
article=0, sentence=2, names=[], persons_list=[]
[]
article=0, sentence=3, names=[], persons_list=[]
[]
article=0, sentence=4, names=[], persons_list=[]
[]
article=0, sentence=5, names=[], persons_list=[]
[]
article=0, sentence=6, names=['Gerald Asamoah', 'Hans Sarpei', 'Cacau'], persons_list=['Gerald Asamoah', 'Hans Sarpei', 'Cacau']
[]
article=0, sentence=7, names=[], persons_list=[]
[]
article=0, sentence=8, names=[], persons_list=[]
[]
article=0, sentence=9, names=[], persons_list=[]
[]
article=0, sentence=10, names=[], persons_list=[]
[]
article=0, sentence=11, names=[], persons_list=[]
[]
article=0, sentence=12, names=[], persons_list=[]
[]
article=0, sentence=13, names=[], persons_list=[]
[]
article=0, sentence=14, names=[], persons_list=[]
[]
article=0, sentence=15, names=[], persons_list=[]
[]
article=0, sentence=16, names=[], persons_list=[]
[]
article=0, sentence=17, names=[], persons_list=[]
[]
article=0, sentence=18, names=[], persons_list=[]
[]
article=0, sentence=19, names=[], persons_list=[]
[]
article=0, sentence=20, names=[], persons_list=[]
[]
article=0, sentence=21, names=[], persons_list=[]
[]
article=0, sentence=22, names=[], persons_list=[]
[]
article=0, sentence=23, names=[], persons_list=[]
[]
article=0, sentence=24, names=[], persons_list=[]
[]
article=0, sentence=25, names=[], persons_list=[]
[]
article=0, sentence=26, names=[], persons_list=[]
[]
article=0, sentence=27, names=[], persons_list=[]
[]
article=0, sentence=28, names=[], persons_list=[]
[]
article=0, sentence=29, names=[], persons_list=[]
[]
article=0, sentence=30, names=[], persons_list=[]
[]
article=0, sentence=31, names=[], persons_list=[]
[]
article=0, sentence=32, names=[], persons_list=[]
[]
article=0, sentence=33, names=[], persons_list=[]
[]
article=0, sentence=34, names=[], persons_list=[]
[]
article=0, sentence=35, names=[], persons_list=[]
[]
article=0, sentence=36, names=[], persons_list=[]
[]
article=0, sentence=37, names=[], persons_list=[]
[]
article=0, sentence=38, names=[], persons_list=[]
[]
article=0, sentence=39, names=['Clemens Tönnies'], persons_list=['Clemens Tönnies']
[]
article=0, sentence=40, names=[], persons_list=[]
[]
article=1, sentence=0, names=['Angela Merkel'], persons_list=['Angela Merkel']
[]
article=1, sentence=1, names=[], persons_list=[]
[]
article=1, sentence=2, names=[], persons_list=[]
[]
article=1, sentence=3, names=[], persons_list=[]
[]
article=1, sentence=4, names=[], persons_list=[]
[]
article=1, sentence=5, names=[], persons_list=[]
[]
article=1, sentence=6, names=[], persons_list=[]
[]
article=1, sentence=7, names=[], persons_list=[]
[]
article=1, sentence=8, names=['Emmanuel Macron', 'Merkel'], persons_list=['Emmanuel Macron', 'Merkel']
[]
article=1, sentence=9, names=[], persons_list=[]
[]
article=1, sentence=10, names=[], persons_list=[]
[]
article=1, sentence=11, names=['Olaf Scholz', 'Alexander Hamilton'], persons_list=['Olaf Scholz', 'Alexander Hamilton']
[]
article=1, sentence=12, names=[], persons_list=[]
[]
article=1, sentence=13, names=[], persons_list=[]
[]
article=1, sentence=14, names=['Hamilton'], persons_list=['Hamilton']
[]
article=1, sentence=15, names=['Alexander Hamilton'], persons_list=['Alexander Hamilton']
[]
article=1, sentence=16, names=[], persons_list=[]
[]
article=1, sentence=17, names=[], persons_list=[]
[]
article=1, sentence=18, names=[], persons_list=[]
[]
article=1, sentence=19, names=[], persons_list=[]
[]
article=1, sentence=20, names=['Hamilton'], persons_list=['Hamilton']
[]
article=1, sentence=21, names=[], persons_list=[]
[]
article=1, sentence=22, names=[], persons_list=[]
[]
article=1, sentence=23, names=[], persons_list=[]
[]
article=1, sentence=24, names=['Christine Lagarde'], persons_list=['Christine Lagarde']
[]
article=1, sentence=25, names=[], persons_list=[]
[]
article=1, sentence=26, names=['Merkel'], persons_list=['Merkel']
[]
article=1, sentence=27, names=['Merkel'], persons_list=['Merkel']
[]
article=1, sentence=28, names=['Ursula von der Leyen'], persons_list=['Ursula von der Leyen']
[]
article=1, sentence=29, names=[], persons_list=[]
[]
article=1, sentence=30, names=['Merkel'], persons_list=['Merkel']
[]
article=1, sentence=31, names=['Robert Schuman', 'Merkel'], persons_list=['Robert Schuman', 'Merkel']
[]
article=1, sentence=32, names=['Schuman'], persons_list=['Schuman']
[]
article=1, sentence=33, names=[], persons_list=[]

Show information about the first articles

In [29]:
articles[:3]

[Article(id=54006424, language='PORTUGUESE_BRAZIL', number_of_sentences=41),
 Article(id=54003004, language='PORTUGUESE_BRAZIL', number_of_sentences=34),
 Article(id=54009380, language='PORTUGUESE_BRAZIL', number_of_sentences=14)]

Check sentences and persons correspondence for article 0

In [30]:
articles[1].sentences[0]

'Em meados de março, quando o coronavírus começou a se espalhar pela Europa, a chanceler federal alemã, Angela Merkel, deu um aviso implacável: "Este é o maior desafio que a União Europeia já enfrentou", disse.'

In [31]:
articles[1].persons[0]

['Angela Merkel']

Check sentences and persons correspondence for article 1

In [32]:
articles[1].sentences[1]

'Agora, à medida que os países-membros começam a relaxar o isolamento e reabrem as fronteiras, a atenção se volta à recuperação.'

In [33]:
articles[1].persons[1]

[]

Check sentences and persons correspondence for article 2

In [34]:
articles[1].sentences[2]

'Se existe algum país em condições de catalisar a integração fiscal necessária para estabilizar a Europa, esse país é a Alemanha.'

In [35]:
articles[1].persons[2]

[]

Show the number of sentences in the first article

In [36]:
len(articles[0].sentences)

41

# Collect names in all articles

## Parallel run (not used)

Not used because it seemed to take longer thatn the non-parallel version, maybe due to RAM or CPU resources (2 CPU and 4 GB RAM when I tried it).

In [37]:
os.environ["TOKENIZERS_PARALLELISM"] = "false" # set to "true" to parallelize (said by the transformers package)

Print the value of the environment variable

In [22]:
! echo $TOKENIZERS_PARALLELISM

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
false

Parallelize

In [36]:
ncores = 2
_find_and_add_names = partial(find_and_add_names, ner=nlp) # alias of function with only one argument
with Pool(ncores) as pool:
    it = pool.imap_unordered(_find_and_add_names, articles)
    it = tqdm(it, total=len(articles))
    # Exhaust the iterator
    deque(it, maxlen=0)

  1%|          | 93/11848 [12:08<25:34:39,  7.83s/it]Process ForkPoolWorker-11:
Process ForkPoolWorker-12:
Traceback (most recent call last):
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/tmp/ipykernel_622/494436015.py", line 7, in find_and_add_names
    names = [group['word'] for group in ner(sentence) if group['entity_group']=='PER' and group['score']>score]
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/token_classification.py", line 192, in __call__
    return super().__call__(inputs, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/multiprocessing/process.py", line 314, in _bootstrap
    self.run()
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/base.py", line 1074, in __call__
    return self.run_single(inputs, preprocess_params, forward_params, postprocess_params)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/base.py", line 1081, in run_single
    model_outputs = self.forward(model_inputs, **forward_params)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/base.py", line 990, in forward
    model_outputs = self._forward(model_inputs, **forward_params)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/token_classification.py", line 218, in _forward
    logits = self.model(**model_inputs)[0]
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 1751, in forward
    outputs = self.bert(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 1014, in forward
    encoder_outputs = self.encoder(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/tmp/ipykernel_622/494436015.py", line 7, in find_and_add_names
    names = [group['word'] for group in ner(sentence) if group['entity_group']=='PER' and group['score']>score]
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 603, in forward
    layer_outputs = layer_module(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/token_classification.py", line 192, in __call__
    return super().__call__(inputs, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 531, in forward
    layer_output = apply_chunking_to_forward(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pytorch_utils.py", line 246, in apply_chunking_to_forward
    return forward_fn(*input_tensors)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/base.py", line 1074, in __call__
    return self.run_single(inputs, preprocess_params, forward_params, postprocess_params)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 543, in feed_forward_chunk
    intermediate_output = self.intermediate(attention_output)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 443, in forward
    hidden_states = self.dense(hidden_states)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/base.py", line 1081, in run_single
    model_outputs = self.forward(model_inputs, **forward_params)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/linear.py", line 114, in forward
    return F.linear(input, self.weight, self.bias)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/base.py", line 990, in forward
    model_outputs = self._forward(model_inputs, **forward_params)
KeyboardInterrupt
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/pipelines/token_classification.py", line 218, in _forward
    logits = self.model(**model_inputs)[0]
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 1751, in forward
    outputs = self.bert(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 1014, in forward
    encoder_outputs = self.encoder(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 603, in forward
    layer_outputs = layer_module(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 489, in forward
    self_attention_outputs = self.attention(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 419, in forward
    self_outputs = self.self(
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/transformers/models/bert/modeling_bert.py", line 308, in forward
    value_layer = self.transpose_for_scores(self.value(hidden_states))
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/module.py", line 1190, in _call_impl
    return forward_call(*input, **kwargs)
  File "/home/stefano/anaconda3/envs/py310/lib/python3.10/site-packages/torch/nn/modules/linear.py", line 114, in forward
    return F.linear(input, self.weight, self.bias)

KeyboardInterrupt

KeyboardInterrupt:

## Non-parallel run

The following cell took 16 hours to finish using a coputer with 2 CPUs and 2 (or 4) GB of RAM.

In [9]:
for article in tqdm(articles):
    for sentence,persons_list in zip(article.sentences,article.persons):
        persons_list.clear() # Enure we start with an empty list
        names = [group['word'] for group in nlp(sentence) if group['entity_group']=='PER' and group['score']>0.8]
        if '#' in ''.join(names):
            names = [] # Keep no names if NER includes the # character
        persons_list.extend(names)

100%|██████████| 11848/11848 [16:44:43<00:00,  5.09s/it]

## Save results

In [17]:
outputdir = Path.cwd()
file = 'portuguese_sentences_with_names.pickle'

In [14]:
with open(outputdir/file, 'wb') as file:
    pickle.dump(articles, file)

# Read results and format as CSV

Read pickled file that stores the sentences of all articles

In [8]:
inputdir = Path.cwd()
file = Path('portuguese_sentences_with_names.pickle')
with open(inputdir/file, 'rb') as file:
    articles = pickle.load(file)

Show info ofr the first 10 articles

In [9]:
articles[:10]

[Article(id=54006424, language='PORTUGUESE_BRAZIL', number_of_sentences=41),
 Article(id=54003004, language='PORTUGUESE_BRAZIL', number_of_sentences=34),
 Article(id=54009380, language='PORTUGUESE_BRAZIL', number_of_sentences=14),
 Article(id=54008153, language='PORTUGUESE_BRAZIL', number_of_sentences=22),
 Article(id=54009331, language='PORTUGUESE_BRAZIL', number_of_sentences=20),
 Article(id=54010979, language='PORTUGUESE_BRAZIL', number_of_sentences=32),
 Article(id=54011278, language='PORTUGUESE_BRAZIL', number_of_sentences=19),
 Article(id=54012392, language='PORTUGUESE_BRAZIL', number_of_sentences=161),
 Article(id=54015488, language='PORTUGUESE_BRAZIL', number_of_sentences=13),
 Article(id=54015413, language='PORTUGUESE_BRAZIL', number_of_sentences=19)]

## Explore more in detail that everything looks good

Show the first 3 sentences in the article 7

In [69]:
articles[7].sentences[:3]

['Três vezes candidato a presidente da República, Ciro Gomes se prepara para tentar mais uma vez.',
 'Ele acaba de lançar olivro Projeto nacional: o dever da esperança, no qual analisa problemas estruturais do Brasil e apresenta propostas e que funcionará como um guia na caminhada até a próxima campanha nacional, daqui a cerca de dois anos.',
 'Questionado sobre o atual momento da política brasileira, ele afirma que "o que levou o Brasil a esse fundo do poço foi a decepção da esmagadora maioria da opinião pública com as práticas corruptas e a desastrada gestão econômica do PT" e defende um processo de impeachment contra o presidente Jair Bolsonaro.']

Show the names foundn in the first 3 sentences in the article 7

In [13]:
articles[7].persons[:3]

(['Ciro Gomes'], [], ['Jair Bolsonaro'])

Show all names found in article 0

In [20]:
articles[0].persons

(['Clemens Tönnies'],
 [],
 [],
 [],
 [],
 [],
 ['Gerald Asamoah', 'Hans Sarpei', 'Cacau'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Clemens Tönnies'],
 [])

## Convert to a Pandas DataFrame

In [71]:
dfs = []
for article in tqdm(articles):
    for sentence,persons_list in zip(article.sentences,article.persons):
        if len(persons_list)==0:
            persons_list = [""] # convert empty to a list with an empty string so that it is always a string
        df = pd.DataFrame({
            'id':article.id,
            'language':article.language,
            'sentence':sentence,
            'name':persons_list
        })
        dfs.append(df)

100%|██████████| 11848/11848 [01:35<00:00, 124.26it/s]

In [82]:
df = pd.concat(dfs, ignore_index=True)

Check result

In [74]:
df.head(10)

,id,language,sentence,name
0,54006424,PORTUGUESE_BRAZIL,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,PORTUGUESE_BRAZIL,O Schalke não conseguiu nenhuma vitória nos ...,
2,54006424,PORTUGUESE_BRAZIL,"A equipe dos ""azuis-reais"" terminou o campeona...",
3,54006424,PORTUGUESE_BRAZIL,A participação em uma dessas grandes competi...,
4,54006424,PORTUGUESE_BRAZIL,Tönnies foi amplamente criticado no ano passa...,
5,54006424,PORTUGUESE_BRAZIL,"No mês de agosto, durante um evento do clube,...",
6,54006424,PORTUGUESE_BRAZIL,O comentário foi criticado como racista por e...,Gerald Asamoah
7,54006424,PORTUGUESE_BRAZIL,O comentário foi criticado como racista por e...,Hans Sarpei
8,54006424,PORTUGUESE_BRAZIL,O comentário foi criticado como racista por e...,Cacau
9,54006424,PORTUGUESE_BRAZIL,"Mais tarde, Tönnies se desculpou pela afirmac...",

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386075 entries, 0 to 386074
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        386075 non-null  int64
 1   language  386075 non-null  object
 2   sentence  386075 non-null  object
 3   name      386075 non-null  object
dtypes: int64(1), object(3)
memory usage: 11.8+ MB

In [38]:
df.describe(include='all')[:4]

,id,language,sentence,name
count,386075.0,386075,386075,386075
unique,NaN,1,341975,27952
top,NaN,PORTUGUESE_BRAZIL,Diversas autoridades e instituições de saúd...,
freq,NaN,386075,267,260633

In [76]:
df.query('name!=""').head(10)

,id,language,sentence,name
0,54006424,PORTUGUESE_BRAZIL,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
6,54006424,PORTUGUESE_BRAZIL,O comentário foi criticado como racista por e...,Gerald Asamoah
7,54006424,PORTUGUESE_BRAZIL,O comentário foi criticado como racista por e...,Hans Sarpei
8,54006424,PORTUGUESE_BRAZIL,O comentário foi criticado como racista por e...,Cacau
41,54006424,PORTUGUESE_BRAZIL,A revolta gerada pelo papel da empresa no ress...,Clemens Tönnies
43,54003004,PORTUGUESE_BRAZIL,"Em meados de março, quando o coronavírus com...",Angela Merkel
51,54003004,PORTUGUESE_BRAZIL,"E após anos mantendo o presidente francês, E...",Emmanuel Macron
52,54003004,PORTUGUESE_BRAZIL,"E após anos mantendo o presidente francês, E...",Merkel
55,54003004,PORTUGUESE_BRAZIL,"O ministro alemão das Finanças, Olaf Scholz,...",Olaf Scholz
56,54003004,PORTUGUESE_BRAZIL,"O ministro alemão das Finanças, Olaf Scholz,...",Alexander Hamilton

In [40]:
df.query('name!=""').describe(include='all')[:4]

,id,language,sentence,name
count,125442.0,125442,125442,125442
unique,NaN,1,93353,27951
top,NaN,PORTUGUESE_BRAZIL,"O texto reflete a opinião do autor, não nece...",Bolsonaro
freq,NaN,125442,107,7996

## Save

In [77]:
outputdir = Path.cwd()
filename = 'portuguese_sentences_with_names.csv'
df.to_csv(outputdir/filename, index=False)

## Remove redundancy

Read data

In [41]:
inputdir = Path.cwd()
filename = 'portuguese_sentences_with_names.csv'
dtype={'id':int,
       'language':str,
       'sentence':str,
       'name':str
       }

df = pd.read_csv(inputdir/filename, dtype=dtype).fillna('')

In [47]:
df

,id,language,sentence,name
0,54006424,PORTUGUESE_BRAZIL,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,PORTUGUESE_BRAZIL,O Schalke não conseguiu nenhuma vitória nos ...,
2,54006424,PORTUGUESE_BRAZIL,"A equipe dos ""azuis-reais"" terminou o campeona...",
3,54006424,PORTUGUESE_BRAZIL,A participação em uma dessas grandes competi...,
4,54006424,PORTUGUESE_BRAZIL,Tönnies foi amplamente criticado no ano passa...,
...,...,...,...,...
386070,54006316,PORTUGUESE_BRAZIL,Na avaliação por grupo de 100 mil habitantes...,
386071,54006316,PORTUGUESE_BRAZIL,"O Rio de Janeiro, a segunda unidade da federac...",
386072,54006316,PORTUGUESE_BRAZIL,O estado mais afetado continua sendo São Paul...,
386073,54006316,PORTUGUESE_BRAZIL,"Em números acumulados, o Brasil tem 790.040 p...",
386074,54006316,PORTUGUESE_BRAZIL,"Entretanto, diversas autoridades e instituiço...",

Drop unnecessary columns

In [48]:
df = df.drop(columns=['language'])

Remove sentences with no found names

In [49]:
df = df.query('name!=""')

Reset index

In [50]:
df = df.reset_index(drop=True)

In [51]:
df

,id,sentence,name
0,54006424,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,O comentário foi criticado como racista por e...,Gerald Asamoah
2,54006424,O comentário foi criticado como racista por e...,Hans Sarpei
3,54006424,O comentário foi criticado como racista por e...,Cacau
4,54006424,A revolta gerada pelo papel da empresa no ress...,Clemens Tönnies
...,...,...,...
125437,54006072,"Paulo, o nome mais cotado para substituir Deco...",Anderson Correia
125438,54006072,Também seriam possíveis candidatos o secreta...,Renato Feder
125439,54006072,Também seriam possíveis candidatos o secreta...,Sérgio
125440,54006072,O nome de Freitas é relacionado como orientad...,Freitas
125441,54006072,O nome de Freitas é relacionado como orientad...,Decotelli

In [ ]:
outputdir = Path.cwd()
filename = 'portuguese_sentences_with_names_tight.csv'
df.to_csv(outputdir/filename, index=False)

# Homogenize names (alias) in sentences

Read CSV file

In [527]:
inputdir = Path('/home/stefano')
filename = Path('portuguese_sentences_with_names_tight.csv')
dtype={'id':int,
       'sentence':str,
       'name':str
       }
df = pd.read_csv(inputdir/filename, dtype=dtype)

In [528]:
df.head(10)

,id,sentence,name
0,54006424,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,O comentário foi criticado como racista por e...,Gerald Asamoah
2,54006424,O comentário foi criticado como racista por e...,Hans Sarpei
3,54006424,O comentário foi criticado como racista por e...,Cacau
4,54006424,A revolta gerada pelo papel da empresa no ress...,Clemens Tönnies
5,54003004,"Em meados de março, quando o coronavírus com...",Angela Merkel
6,54003004,"E após anos mantendo o presidente francês, E...",Emmanuel Macron
7,54003004,"E após anos mantendo o presidente francês, E...",Merkel
8,54003004,"O ministro alemão das Finanças, Olaf Scholz,...",Olaf Scholz
9,54003004,"O ministro alemão das Finanças, Olaf Scholz,...",Alexander Hamilton

In [529]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125442 entries, 0 to 125441
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        125442 non-null  int64
 1   sentence  125442 non-null  object
 2   name      125442 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [530]:
df.iloc[0]

id                                                   54006424
sentence    O presidente do FC Schalke 04 e proprietário ...
name                                         Clemens Tönnies
Name: 0, dtype: object

## Find sentences with multiple names in it.

In [531]:
# Group by article and sentence to find all names in a sentence
df_grouped = df.groupby(['id','sentence']).agg({'name':lambda x: list(x)}).reset_index()

In [520]:
df_grouped

,id,sentence,name
0,36728631,"E você tem Elon, que tem uma abordagem mais p...",[Elon]
1,36728631,"E, falando com Richard Branson, ele teve esses...","[Richard Branson, Peter]"
2,36728631,Ele se encontrou com Elon Musk quando Elon est...,"[Elon Musk, Elon, Richard Branson]"
3,36728631,Jeff estava decidido a fazer tudo o que ele pu...,[Jeff]
4,36728631,"Julian Guthrie, autora do livro How to make a ...",[Julian Guthrie]
...,...,...,...
97739,62463689,"John Bolton, ex-assessor de segurança naciona...","[John Bolton, Donald Trump]"
97740,62463689,Mencionou apenas o malsucedido golpe na Venezu...,"[Nicolás Maduro, Juan Guaido]"
97741,62463689,"O ex-assessor também considerou ""risível"" ac...",[Trump]
97742,62463689,Os comentários de Bolton sobre os distúrbios...,"[Bolton, Trump]"
97743,62463689,"Sobre esse episódio, Bolton disse que ""a opos...","[Bolton, Nicolás Maduro]"

## Delete row in the DataFrame where name appears in short version

**Example**

In [532]:
# s = 'E você tem Elon, que tem uma abordagem mais pragmática em "escapar" do planeta.'
s = 'Ele se encontrou com Elon Musk quando Elon estava apenas pensando em ir ao espaço, e ele estava se reunindo com Richard Branson.'
id = 36728631

In [533]:
df.query('id==@id and sentence==@s')

,id,sentence,name
121359,36728631,Ele se encontrou com Elon Musk quando Elon est...,Elon Musk
121360,36728631,Ele se encontrou com Elon Musk quando Elon est...,Elon
121361,36728631,Ele se encontrou com Elon Musk quando Elon est...,Richard Branson

In [534]:
df.query('id==@id and sentence==@s').name.tolist()

['Elon Musk', 'Elon', 'Richard Branson']

In the sentence above, we will delete the row whose name column puts "Elon" because there is another row whose name column puts "Elon Musk".

## Function

In [535]:
def is_subname(name:str, names:list[str]) -> bool:
    """Check if `name` is a substring of (or is contained in) any name in `names`."""
    
    # Check types
    if not isinstance(name,str):
        TypeError('`name` must be a string or a list whose elements are strings.')
    if not isinstance(names,list) or not all(isinstance(n,str) for n in names):
        raise TypeError('`names` must be a list of strings strings.')
    
    # Main
    for potential_composed_name in names:
        if name != potential_composed_name:
            if name in potential_composed_name:
                return True
    return False

In [536]:
indexes = []
# sample = df_test.iloc[121351:121369] # test line
# pbar = tqdm(sample.itertuples(), total=len(sample.index)) # test line
pbar = tqdm(df.itertuples(), total=len(df.index))
for row in pbar:
    query = 'id==@row.id and sentence==@row.sentence' # Here I assume that the pair row.id and row.sentence are always unique in df
    names = df.query(query).name.tolist()
    if is_subname(row.name,names):
        indexes.append(row.Index)

100%|██████████| 125442/125442 [36:29<00:00, 57.30it/s]

## Check results

In [303]:
len(indexes)

393

In [538]:
indexes[:10]

[98, 463, 687, 931, 993, 1090, 1255, 1286, 1289, 1514]

In [315]:
i = 98
df[i-2:i+2]

,id,sentence,name
96,54018196,As investigações atuais são sobre corrupça...,Queiroz
97,54018196,"Nos últimos anos, no entanto, foi sobretudo o...",Bolsonaro
98,54018196,Bolsonaro venceu a campanha eleitoral de 2018 ...,Bolsonaro
99,54018196,Bolsonaro venceu a campanha eleitoral de 2018 ...,Carlos Bolsonaro

In [316]:
i = 463
df[i-2:i+2]

,id,sentence,name
461,54040436,"""Concedemos esta autorização menos de um mê...",Stella Kyriakides
462,54041511,"Mirando o presidente dos EUA, Donald Trump, um...",Donald Trump
463,54041511,"Mirando o presidente dos EUA, Donald Trump, um...",Donald
464,54044041,Às 10 horas da manhã desta sexta-feira (03/0...,Matignon

In [317]:
i = 687
df[i-2:i+2]

,id,sentence,name
685,54064053,E entre os mais fiéis existe incômodo com ca...,Bolsonaro
686,54064053,Também veem como ponto de instabilidade a atu...,Flávio Bolsonaro
687,54064053,Também veem como ponto de instabilidade a atu...,Bolsonaro
688,54064053,Isso aparece nos três grupos com intensidade ...,Bolsonaro

## Apply results

Before application

In [318]:
i = 98
df[i-2:i+2]

,id,sentence,name
96,54018196,As investigações atuais são sobre corrupça...,Queiroz
97,54018196,"Nos últimos anos, no entanto, foi sobretudo o...",Bolsonaro
98,54018196,Bolsonaro venceu a campanha eleitoral de 2018 ...,Bolsonaro
99,54018196,Bolsonaro venceu a campanha eleitoral de 2018 ...,Carlos Bolsonaro

Application

In [320]:
df = df.drop(index=indexes).reset_index(drop=True)

After application

In [321]:
i = 98
df[i-2:i+2]

,id,sentence,name
96,54018196,As investigações atuais são sobre corrupça...,Queiroz
97,54018196,"Nos últimos anos, no entanto, foi sobretudo o...",Bolsonaro
98,54018196,Bolsonaro venceu a campanha eleitoral de 2018 ...,Carlos Bolsonaro
99,54018196,"Desde então, o tom nas redes favoráveis a Bo...",Bolsonaro

In [322]:
df.index.size

125049

In [323]:
125442-df.index.size

393

In [324]:
len(indexes)

393

## Save

In [540]:
outputdir = Path.cwd()
filename = 'portuguese_sentences_with_names_v2.csv'
df.to_csv(outputdir/filename, index=False)

# Remove duplicated names in sentences

Read CSV file

In [541]:
inputdir = Path.cwd()
filename = Path('portuguese_sentences_with_names_v2.csv')
dtype={'id':int,
       'sentence':str,
       'name':str
       }
df = pd.read_csv(inputdir/filename, dtype=dtype)

In [327]:
df.head(10)

,id,sentence,name
0,54006424,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,O comentário foi criticado como racista por e...,Gerald Asamoah
2,54006424,O comentário foi criticado como racista por e...,Hans Sarpei
3,54006424,O comentário foi criticado como racista por e...,Cacau
4,54006424,A revolta gerada pelo papel da empresa no ress...,Clemens Tönnies
5,54003004,"Em meados de março, quando o coronavírus com...",Angela Merkel
6,54003004,"E após anos mantendo o presidente francês, E...",Emmanuel Macron
7,54003004,"E após anos mantendo o presidente francês, E...",Merkel
8,54003004,"O ministro alemão das Finanças, Olaf Scholz,...",Olaf Scholz
9,54003004,"O ministro alemão das Finanças, Olaf Scholz,...",Alexander Hamilton

In [542]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125442 entries, 0 to 125441
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        125442 non-null  int64
 1   sentence  125442 non-null  object
 2   name      125442 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [543]:
df.iloc[0]

id                                                   54006424
sentence    O presidente do FC Schalke 04 e proprietário ...
name                                         Clemens Tönnies
Name: 0, dtype: object

## Find sentences with multiple names in it

In [544]:
pd.concat(g for _, g in df.groupby(['id','sentence','name']) if len(g) > 1)

,id,sentence,name
121366,36728631,"Peter é também pragmático, mas a abordagem ...",Peter
121369,36728631,"Peter é também pragmático, mas a abordagem ...",Peter
101397,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101398,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101575,51865798,"""Se o senhor Ghosn viesse para a França, não...",Ghosn
...,...,...,...
76214,62426373,Arruda foi assassinado a tiros na noite de sá...,Arruda
76334,62436456,"No entanto, após Moro romper com Bolsonaro em...",Moro
76337,62436456,"No entanto, após Moro romper com Bolsonaro em...",Moro
76762,62463689,"""É Donald Trump cuidando de Donald Trump.",Donald Trump
76763,62463689,"""É Donald Trump cuidando de Donald Trump.",Donald Trump

Check a few ones

In [546]:
i = 121366
df.loc[i-3:i+3]

,id,sentence,name
121363,36728631,"E, falando com Richard Branson, ele teve esses...",Richard Branson
121364,36728631,"E, falando com Richard Branson, ele teve esses...",Peter
121365,36728631,"E você tem Elon, que tem uma abordagem mais p...",Elon
121366,36728631,"Peter é também pragmático, mas a abordagem ...",Peter
121367,36728631,"Peter é também pragmático, mas a abordagem ...",Elon
121368,36728631,"Peter é também pragmático, mas a abordagem ...",Jeff Bezos
121369,36728631,"Peter é também pragmático, mas a abordagem ...",Peter

In [548]:
i = 101397
df.loc[i-3:i+3]

,id,sentence,name
101394,51850454,"Para Nogueira, as áreas de cultura, meio ambi...",Ernesto Araújo
101395,51850454,"Para Nogueira, essa foi a tendência de 2019 e...",Nogueira
101396,51850454,O cientista político Jairo Nicolau lembra que...,Jairo Nicolau
101397,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101398,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101399,51850454,O cientista político Jairo Nicolau lembra que...,Viktor Orba
101400,51850454,"""A retórica continua terrível, antidemocrát...",Nicolau

In [549]:
i = 101575
df.loc[i-3:i+3]

,id,sentence,name
101572,51865798,Antes de pousar com seu jato particular na cap...,Ghosn
101573,51865798,"Agora, essa etapa da jornada também tem conse...",Ghosn
101574,51865798,Fugindo das autoridades japonesas e possivelme...,Ghosn
101575,51865798,"""Se o senhor Ghosn viesse para a França, não...",Ghosn
101576,51865798,"""Se o senhor Ghosn viesse para a França, não...",Ghosn
101577,51865798,"""Se o senhor Ghosn viesse para a França, não...",Agnès Pannier - Runacher
101578,51865798,As autoridades francesas disseram ter tido con...,Ghosn

Get the index of all repetead names (a.k.a. indexes we attempt to remove from the DataFrame) per sentence except for the first appareance.

All indexes

In [ ]:
pd.concat(g for _, g in df.groupby(['id','sentence','name']) if len(g) > 1)

,id,sentence,name
121366,36728631,"Peter é também pragmático, mas a abordagem ...",Peter
121369,36728631,"Peter é também pragmático, mas a abordagem ...",Peter
101397,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101398,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101575,51865798,"""Se o senhor Ghosn viesse para a França, não...",Ghosn
...,...,...,...
76214,62426373,Arruda foi assassinado a tiros na noite de sá...,Arruda
76334,62436456,"No entanto, após Moro romper com Bolsonaro em...",Moro
76337,62436456,"No entanto, após Moro romper com Bolsonaro em...",Moro
76762,62463689,"""É Donald Trump cuidando de Donald Trump.",Donald Trump
76763,62463689,"""É Donald Trump cuidando de Donald Trump.",Donald Trump

Target indexes

In [554]:
pd.concat(g.iloc[1:] for _, g in df.groupby(['id','sentence','name']) if len(g) > 1)

,id,sentence,name
121369,36728631,"Peter é também pragmático, mas a abordagem ...",Peter
101398,51850454,O cientista político Jairo Nicolau lembra que...,Bolsonaro
101576,51865798,"""Se o senhor Ghosn viesse para a França, não...",Ghosn
102155,51919375,A Nissan assegurou nesta terça-feira que a fu...,Ghosn
102215,51921279,"""O assassinato de Soleimani não muda nada na ...",Soleimani
...,...,...,...
75656,62401502,A União das Organizações Indígenas do Vale...,Pereira
75657,62401502,A União das Organizações Indígenas do Vale...,Phillips
76214,62426373,Arruda foi assassinado a tiros na noite de sá...,Arruda
76337,62436456,"No entanto, após Moro romper com Bolsonaro em...",Moro
76763,62463689,"""É Donald Trump cuidando de Donald Trump.",Donald Trump

Save the indexes

In [555]:
indexes = pd.concat(g.iloc[1:] for _, g in df.groupby(['id','sentence','name']) if len(g) > 1).index
indexes

Int64Index([121369, 101398, 101576, 102155, 102215, 102225, 103347, 103348,
            103349, 103452,
            ...
             74001,  74295,  75111,  75555,  75623,  75656,  75657,  76214,
             76337,  76763],
           dtype='int64', length=604)

Remove indexes

In [556]:
df = df.drop(index=indexes).reset_index(drop=True)

Check results

In [557]:
df

,id,sentence,name
0,54006424,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,O comentário foi criticado como racista por e...,Gerald Asamoah
2,54006424,O comentário foi criticado como racista por e...,Hans Sarpei
3,54006424,O comentário foi criticado como racista por e...,Cacau
4,54006424,A revolta gerada pelo papel da empresa no ress...,Clemens Tönnies
...,...,...,...
124833,54006072,"Paulo, o nome mais cotado para substituir Deco...",Anderson Correia
124834,54006072,Também seriam possíveis candidatos o secreta...,Renato Feder
124835,54006072,Também seriam possíveis candidatos o secreta...,Sérgio
124836,54006072,O nome de Freitas é relacionado como orientad...,Freitas
124837,54006072,O nome de Freitas é relacionado como orientad...,Decotelli

Confirm result

In [558]:
[g for _, g in df.groupby(['id','sentence','name']) if len(g) > 1]

[]

In [559]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124838 entries, 0 to 124837
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        124838 non-null  int64
 1   sentence  124838 non-null  object
 2   name      124838 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

## Save

In [560]:
outputdir = Path.cwd()
filename = 'portuguese_sentences_with_names_v3.csv'
df.to_csv(outputdir/filename, index=False)

# Homogenize names (alias) in articles

Read CSV file

In [595]:
inputdir = Path.cwd()
filename = 'portuguese_sentences_with_names_v3.csv'
dtype={'id':int,
       'sentence':str,
       'name':str
       }
df = pd.read_csv(inputdir/filename, dtype=dtype)

In [596]:
df.head(10)

,id,sentence,name
0,54006424,O presidente do FC Schalke 04 e proprietário ...,Clemens Tönnies
1,54006424,O comentário foi criticado como racista por e...,Gerald Asamoah
2,54006424,O comentário foi criticado como racista por e...,Hans Sarpei
3,54006424,O comentário foi criticado como racista por e...,Cacau
4,54006424,A revolta gerada pelo papel da empresa no ress...,Clemens Tönnies
5,54003004,"Em meados de março, quando o coronavírus com...",Angela Merkel
6,54003004,"E após anos mantendo o presidente francês, E...",Emmanuel Macron
7,54003004,"E após anos mantendo o presidente francês, E...",Merkel
8,54003004,"O ministro alemão das Finanças, Olaf Scholz,...",Olaf Scholz
9,54003004,"O ministro alemão das Finanças, Olaf Scholz,...",Alexander Hamilton

In [597]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124838 entries, 0 to 124837
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        124838 non-null  int64
 1   sentence  124838 non-null  object
 2   name      124838 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [598]:
df.iloc[0]

id                                                   54006424
sentence    O presidente do FC Schalke 04 e proprietário ...
name                                         Clemens Tönnies
Name: 0, dtype: object

## Remove column for sentence

In [599]:
df = df.drop(columns=['sentence'])
df

              id              name
0       54006424  Clemens Tönnies
1       54006424    Gerald Asamoah
2       54006424       Hans Sarpei
3       54006424             Cacau
4       54006424  Clemens Tönnies
...          ...               ...
124833  54006072  Anderson Correia
124834  54006072      Renato Feder
124835  54006072           Sérgio
124836  54006072           Freitas
124837  54006072         Decotelli

[124838 rows x 2 columns]

## Find articles with multiple names in it.

In [600]:
df_grouped = df.groupby(['id']).agg({'name':lambda x: list(x)})
df_grouped

                                                       name
id
36728631  [Julian Guthrie, Julian Guthrie, Peter Diamand...
51740080  [Francisco, Dionísio Kuduavicz, Dionísio, Jo...
51846913  [Donald Trump, Jair Bolsonaro, Trump, Bolsonar...
51850454  [Jair Messias Bolsonaro, Michel Temer, Bolsona...
51850907                                            [Massa]
...                                                     ...
62461355  [Trump, Stephanie Murphy, Murphy, Trump, Cassi...
62461496  [Marcos do Val, Jair Bolsonaro, Rodrigo Pachec...
62462074  [Joe Biden, Avi Avisana, Yair Lapid, Naftali B...
62463146  [Gergely Gulyas, Viktor Orban, Gulyas, Gulyas,...
62463689  [John Bolton, Donald Trump, Bolton, Trump, Bol...

[10541 rows x 1 columns]

Check some articles (ids)

In [601]:
id = 36728631
names = df.query('id==@id').name.tolist()
print(f'Number of names = {len(names)}')
names

Number of names = 22

['Julian Guthrie',
 'Julian Guthrie',
 'Peter Diamandis',
 'Peter',
 'Peter',
 'Jeff Bezos',
 'Elon Musk',
 'Elon',
 'Richard Branson',
 'Peter Diamandis',
 'Richard Branson',
 'Peter',
 'Elon',
 'Peter',
 'Elon',
 'Jeff Bezos',
 'Jeff',
 'Peter',
 'Burt Rutan',
 'Dumitru Popescu',
 'Steve Bennett',
 'Elon Musk']

## Delete row in the DataFrame where name appears in short version

In [568]:
indexes = []
# sample = df_test.iloc[121351:121369] # test line
# pbar = tqdm(sample.itertuples(), total=len(sample.index)) # test line
pbar = tqdm(df.itertuples(), total=len(df.index))
for row in pbar:
    query = 'id==@row.id'
    names = df.query(query).name.tolist()
    if is_subname(row.name,names):
        indexes.append(row.Index)

100%|██████████| 124838/124838 [06:33<00:00, 316.89it/s]

## Check results

In [602]:
len(indexes)

56775

In [603]:
indexes[:10]

[7, 10, 12, 14, 15, 17, 19, 20, 31, 36]

In [604]:
i = 7
df.loc[i-10:i+10]

          id                  name
0   54006424      Clemens Tönnies
1   54006424        Gerald Asamoah
2   54006424           Hans Sarpei
3   54006424                 Cacau
4   54006424      Clemens Tönnies
5   54003004         Angela Merkel
6   54003004       Emmanuel Macron
7   54003004                Merkel
8   54003004           Olaf Scholz
9   54003004    Alexander Hamilton
10  54003004              Hamilton
11  54003004    Alexander Hamilton
12  54003004              Hamilton
13  54003004     Christine Lagarde
14  54003004                Merkel
15  54003004                Merkel
16  54003004  Ursula von der Leyen
17  54003004                Merkel

In [605]:
indexes[200:210]

[467, 468, 469, 472, 473, 476, 477, 478, 479, 488]

In [606]:
i = 467
df.loc[i-10:i+10]

           id               name
457  54040436  Stella Kyriakides
458  54041511       Donald Trump
459  54041511             Donald
460  54044041           Matignon
461  54044041  Édouard Philippe
462  54044041    Emmanuel Macron
463  54044041        Jean Castex
464  54044041           Philippe
465  54044041             Macron
466  54044041           Philippe
467  54044041             Macron
468  54044041             Macron
469  54044041           Philippe
470  54044041        Jean Castex
471  54044041    Nicolas Sarkozy
472  54044041             Castex
473  54044041             Macron
474  54044041     Florence Parly
475  54044041  Jean - Yves Drian
476  54044041             Macron
477  54044041             Macron

## Apply results

Before application

In [607]:
i = 467
df.loc[i-10:i+10]

           id               name
457  54040436  Stella Kyriakides
458  54041511       Donald Trump
459  54041511             Donald
460  54044041           Matignon
461  54044041  Édouard Philippe
462  54044041    Emmanuel Macron
463  54044041        Jean Castex
464  54044041           Philippe
465  54044041             Macron
466  54044041           Philippe
467  54044041             Macron
468  54044041             Macron
469  54044041           Philippe
470  54044041        Jean Castex
471  54044041    Nicolas Sarkozy
472  54044041             Castex
473  54044041             Macron
474  54044041     Florence Parly
475  54044041  Jean - Yves Drian
476  54044041             Macron
477  54044041             Macron

Check application without making permanent changes

In [608]:
i = 467
df.drop(index=indexes).loc[i-10:i+10]

           id               name
457  54040436  Stella Kyriakides
458  54041511       Donald Trump
460  54044041           Matignon
461  54044041  Édouard Philippe
462  54044041    Emmanuel Macron
463  54044041        Jean Castex
470  54044041        Jean Castex
471  54044041    Nicolas Sarkozy
474  54044041     Florence Parly
475  54044041  Jean - Yves Drian

Application

In [609]:
df = df.drop(index=indexes)

After application

In [610]:
i = 467
df.loc[i-10:i+10]

           id               name
457  54040436  Stella Kyriakides
458  54041511       Donald Trump
460  54044041           Matignon
461  54044041  Édouard Philippe
462  54044041    Emmanuel Macron
463  54044041        Jean Castex
470  54044041        Jean Castex
471  54044041    Nicolas Sarkozy
474  54044041     Florence Parly
475  54044041  Jean - Yves Drian

Reset indexes

In [611]:
df = df.reset_index(drop=True)

In [615]:
df.head(10)

         id                name
0  54006424    Clemens Tönnies
1  54006424      Gerald Asamoah
2  54006424         Hans Sarpei
3  54006424               Cacau
4  54006424    Clemens Tönnies
5  54003004       Angela Merkel
6  54003004     Emmanuel Macron
7  54003004         Olaf Scholz
8  54003004  Alexander Hamilton
9  54003004  Alexander Hamilton

## Save

In [618]:
outputdir = Path.cwd()
filename = 'portuguese_articles_and_names_v2.csv'
df.to_csv(outputdir/filename, index=False)

# Remove duplicated names in articles

Read CSV file

In [619]:
inputdir = Path.cwd()
filename = 'portuguese_articles_and_names_v2.csv'
dtype={'id':int,
       'name':str
       }
df = pd.read_csv(inputdir/filename, dtype=dtype)

In [620]:
df.head(10)

         id                name
0  54006424    Clemens Tönnies
1  54006424      Gerald Asamoah
2  54006424         Hans Sarpei
3  54006424               Cacau
4  54006424    Clemens Tönnies
5  54003004       Angela Merkel
6  54003004     Emmanuel Macron
7  54003004         Olaf Scholz
8  54003004  Alexander Hamilton
9  54003004  Alexander Hamilton

In [621]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68063 entries, 0 to 68062
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      68063 non-null  int64
 1   name    68063 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [622]:
df.iloc[0]

id              54006424
name    Clemens Tönnies
Name: 0, dtype: object

## Find articles with multiple names in it

In [623]:
pd.concat(g for _, g in df.groupby(['id','name']) if len(g) > 1)

             id             name
65706  36728631        Elon Musk
65714  36728631        Elon Musk
65705  36728631       Jeff Bezos
65710  36728631       Jeff Bezos
65702  36728631   Julian Guthrie
...         ...              ...
41469  62463689     Donald Trump
41467  62463689      John Bolton
41473  62463689      John Bolton
41470  62463689  Nicolás Maduro
41472  62463689  Nicolás Maduro

[17429 rows x 2 columns]

Check a few ones

In [632]:
i = 65706
print(f'Repeated name: {df.loc[i]["name"]}')
print(f'In article: {df.loc[i]["id"]}')
df.loc[i-10:i+10]

Repeated name: Elon Musk
In article: 36728631

             id               name
65696  53631101       Dominic Raab
65697  53631101        Priti Patel
65698  53622574          Josephine
65699  53622574  Chang Heung - Lin
65700  53622574       Dominic Raab
65701  53622574        Priti Patel
65702  36728631     Julian Guthrie
65703  36728631     Julian Guthrie
65704  36728631    Peter Diamandis
65705  36728631         Jeff Bezos
65706  36728631          Elon Musk
65707  36728631    Richard Branson
65708  36728631    Peter Diamandis
65709  36728631    Richard Branson
65710  36728631         Jeff Bezos
65711  36728631         Burt Rutan
65712  36728631    Dumitru Popescu
65713  36728631      Steve Bennett
65714  36728631          Elon Musk
65715  53632446      Oliver Dowden
65716  53632446       João Dória

In [633]:
i = 41469
print(f'Repeated name: {df.loc[i]["name"]}')
print(f'In article: {df.loc[i]["id"]}')
df.loc[i-10:i+10]

Repeated name: Donald Trump
In article: 62463689

             id               name
41459  62462074      Mahmoud Abbas
41460  62462074              Jesus
41461  62462074     Simon Rishmawi
41462  62462074        Miral Assaf
41463  62462074  Shireen Abu Akleh
41464  62463146     Gergely Gulyas
41465  62463146       Viktor Orban
41466  62463146    Peter Szijjarto
41467  62463689        John Bolton
41468  62463689       Donald Trump
41469  62463689       Donald Trump
41470  62463689    Nicolás Maduro
41471  62463689        Juan Guaido
41472  62463689    Nicolás Maduro
41473  62463689        John Bolton
41474  62463689      Ronald Reagan
41475  62463689           George H
41476  62463689               Bush
41477  62463689           George W
41478  62463689               Bush
41479  58119452   Marcelo Queiroga

Get the index of all repetead names (a.k.a. indexes we attempt to remove from the DataFrame) per sentence except for the first appareance.

All indexes

In [634]:
pd.concat(g for _, g in df.groupby(['id','name']) if len(g) > 1)

             id             name
65706  36728631        Elon Musk
65714  36728631        Elon Musk
65705  36728631       Jeff Bezos
65710  36728631       Jeff Bezos
65702  36728631   Julian Guthrie
...         ...              ...
41469  62463689     Donald Trump
41467  62463689      John Bolton
41473  62463689      John Bolton
41470  62463689  Nicolás Maduro
41472  62463689  Nicolás Maduro

[17429 rows x 2 columns]

Target indexes

In [635]:
pd.concat(g.iloc[1:] for _, g in df.groupby(['id','name']) if len(g) > 1)

             id             name
65714  36728631        Elon Musk
65710  36728631       Jeff Bezos
65703  36728631   Julian Guthrie
65708  36728631  Peter Diamandis
65709  36728631  Richard Branson
...         ...              ...
41446  62461496    Marcos do Val
41478  62463689             Bush
41469  62463689     Donald Trump
41473  62463689      John Bolton
41472  62463689  Nicolás Maduro

[10794 rows x 2 columns]

Save the indexes

In [636]:
indexes = pd.concat(g.iloc[1:] for _, g in df.groupby(['id','name']) if len(g) > 1).index
indexes

Int64Index([65714, 65710, 65703, 65708, 65709, 54954, 54946, 54947, 54948,
            54951,
            ...
            41430, 41433, 41436, 41437, 41440, 41446, 41478, 41469, 41473,
            41472],
           dtype='int64', length=10794)

Remove indexes

In [637]:
df = df.drop(index=indexes).reset_index(drop=True)

Check results

In [640]:
df.head(20)

          id                  name
0   54006424      Clemens Tönnies
1   54006424        Gerald Asamoah
2   54006424           Hans Sarpei
3   54006424                 Cacau
4   54003004         Angela Merkel
5   54003004       Emmanuel Macron
6   54003004           Olaf Scholz
7   54003004    Alexander Hamilton
8   54003004     Christine Lagarde
9   54003004  Ursula von der Leyen
10  54003004        Robert Schuman
11  54009380      Lícia D ́Ávila
12  54009380            James Webb
13  54008153            Xi Jinping
14  54008153        Zhang Xiaoming
15  54008153            Carrie Lam
16  54008153           Mike Pompeo
17  54009331          Donald Trump
18  54009331            Mark Esper
19  54009331           Mark Milley

Confirm result

In [642]:
[g for _, g in df.groupby(['id','name']) if len(g) > 1]

[]

In [643]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57269 entries, 0 to 57268
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      57269 non-null  int64
 1   name    57269 non-null  object
dtypes: int64(1), object(1)
memory usage: 895.0+ KB

## Save

In [645]:
outputdir = Path.cwd()
filename = 'portuguese_articles_and_names_v3.csv'
df.to_csv(outputdir/filename, index=False)

## Read

In [646]:
inputdir = Path.cwd()
filename = 'portuguese_articles_and_names_v3.csv'
dtype={'id':int,
       'name':str
       }
df = pd.read_csv(inputdir/filename, dtype=dtype)

In [647]:
df

             id              name
0      54006424  Clemens Tönnies
1      54006424    Gerald Asamoah
2      54006424       Hans Sarpei
3      54006424             Cacau
4      54003004     Angela Merkel
...         ...               ...
57264  54006072             Paulo
57265  54006072  Anderson Correia
57266  54006072      Renato Feder
57267  54006072           Sérgio
57268  54006072           Freitas

[57269 rows x 2 columns]